body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-actions button,
.btn {
  background: #4d1bd8;
  font: inherit;
  border: 1px solid #4d1bd8;
  border-radius: .3rem;
  padding: .5rem 1rem;
  margin-right: 1rem;
  color: white;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
  cursor: pointer;
  outline: none;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #fff;
  color: #4d1bd8;
}